<div class="container">
  <% @items.each do |item| %>
  <div class="item">
    <%= image_tag item.picture, class:'img' if item.picture.attached? %>
    <%= link_to item.name, item_path(item.id), class:"link_name"%>
    <p class="price"><%= "$#{item.price}"%></p>
    <p class='location'><%= item.location%></p>
    <div class="buy_buttom">
      <%= link_to 'BUY', item_path(item.id) %>
    </div>
  </div>
  <%end%>
</div>