<div class="show_item">
  <% if user_signed_in?%>
  <div class="description_show">
    <h2><%= @item.name%></h2>
    <h2><%= @item.description%></h2>
    <%=image_tag @item.picture, class: 'img_show' if @item.picture.attached?%>
    <h2><%= "$#{@item.price}"%>
  </div>
  <div class='patch'>
    <div class='patch-1'>
      <%= link_to "Remove", item_path(@item.id), method: :delete, class:"link"%>
    </div>
    <div class='patch-1'>
      <%= link_to "Update", edit_item_path(@item.id), class:"link"%>
    </div>
    <div class='patch-1'>
      <%=link_to "back to items", items_path, class:'link'%>
    </div>
  </div>
  <% else %>
  <div class="description_show">
    <h2><%= @item.name%></h2>
    <h2><%= @item.description%></h2>
    <%=image_tag @item.picture, class: 'img_show' if @item.picture.attached?%>
  </div>
  <%=link_to "back to items", items_path, class:'link-desregard'%>
  <%end%>

</div>