<h3>You have chosen to see this item</h2>

<h2><%= @item.name%></h2>
<h2><%= @item.description%></h2>
<h2><%= "$#{@item.price}"%></h2>
<h2><%= @item.location%></h2>
<%=image_tag @item.picture if @item.picture.attached?%>

<h3>What would you like to do with this item?></h3>